div(class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
  div(class="modal-dialog" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title" id="exampleModalLabel")="Add a Transaction"
        button(type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearAddTransactionModal()")
          span(aria-hidden="true")="×"
      div(class="modal-body")
        div(class="form-group")
          label="Merchant"
          input(class="form-control" id="merchant" placeholder="Merchant" autocomplete="off")
        div(class="form-group")
          label="Perchase Amount"
          input(class="form-control" id="purchaseAmount" placeholder="Perchase Amount" autocomplete="off")
        div(id="selectDiv" class="form-group")
          label(id="categoryPicker")="Budget Category Name:"
          label(id="addTransactionNameLabel")
        div(class="form-group")
          label="Notes"
          textarea(class="form-control" id="notes" placeholder="Notes" autocomplete="off" rows="10")
      div(class="modal-footer")
        button(type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearAddTransactionModal()")="Close"
        button(type="button" class="btn btn-outline-success" onclick="addTransaction()")="Add Transaction"
