//--
//-- Converted from Bootstrap HTML and change accoreding to needs.
//--
for budget in data
  tr(scope="row")
    td=budget.budget_name
    td=budget.budget_amount
    td(id="#{budget.budget_name_html_id}AmountUsed")=budget.budget_amount_used
    td(id="#{budget.budget_name_html_id}AmountLeft")=budget.budget_amount_left
    td
      button(type="button" class="btn btn-outline-info" data-toggle="modal" onclick="viewTransactions('#{budget.budget_name_html_id}')")
        ="See Transactions"
    td
      button(type="button" class="btn btn-outline-info" data-toggle="modal" onclick="downloadPdf('#{budget.budget_name_html_id}')")
        ="Download Report PDF"
    td
      button(type="button" class="btn btn-outline-info" data-toggle="modal" onclick="downloadCsv('#{budget.budget_name_html_id}')")
        ="Download Report CSV"
    td
      button(type="button" class="btn btn-outline-success" data-toggle="modal" onclick="prepAddTransactionsModal('#{budget.budget_name_html_id}' )")
        ="Add Transaction"
        
        
        
        
