doctype html
html(lang="en")
  head
    title= asdfas
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js")
    script(src='./js/myJsFile.js')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css")
    link(rel="stylesheet", href="./public/style.css")
  body
    include ./navbar.html

    div(id="budgetsTableDiv")
      table(id="budgetTable" class="table table-striped")
        thead
          tr
            th(scope="col")="Budget Name"
            th(scope="col")="Budget Amount"     
            th(scope="col")="Amount Used"     
            th(scope="col")="Amount left" 
        tbody
          for budget in data
            tr(scope="row")
              td=budget.budget_name
              td=budget.budget_amount
              td(id="#{budget.budget_name}AmountUsed")=budget.budget_amount_used
              td(id="#{budget.budget_name}AmountLeft")=budget.budget_amount_left
              td
                button(type="button" class="btn btn-outline-info" data-toggle="modal" onclick="viewTransactions('#{budget.budget_name}')")
                  ="See Transactions"
              td
                button(type="button" class="btn btn-outline-info" data-toggle="modal" onclick="downloadPdf('#{budget.budget_name}')")
                  ="Download Transactions PDF"
              td
                button(type="button" class="btn btn-outline-success" data-toggle="modal" onclick="prepAddTransactionsModal('#{budget.budget_name}')")
                  ="Add Transaction"

    include ./addBudgetModal.html
    include ./addTransactionModal.html
    include ./viewTransactionsModal.html
